<h1>Cadastro de Aluno</h1>

<form #studentForm="ngForm">
    <div>
        <label for="name">Nome:</label>
        <input type="text" id="name" name="name" [(ngModel)]="newStudents.name" required #name="ngModel">
        <span *ngIf="name.invalid && name.dirty">
      Campo obrigatório
    </span>
    </div>

    <div>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" [(ngModel)]="newStudents.email" required #email="ngModel">
        <span *ngIf="email.invalid && email.dirty">
        Campo obrigatório
      </span>
    </div>

    <div>
        <label for="phone">Celular:</label>
        <input type="number" id="phone" name="phone" [(ngModel)]="newStudents.phone" required #phone="ngModel">
        <span *ngIf="phone.invalid && phone.dirty">
          Campo obrigatório
        </span>
    </div>
    <input type="button" value="Salvar" [disabled]="studentForm.invalid" (click)="saveStudents()">
</form>

<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Celular</th>
            <th>Editar</th>
            <th>Remover</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let sts of students">
            <td>{{ sts.name }}</td>
            <td>{{ sts.email }}</td>
            <td>{{ sts.phone | phone:true }}</td>
            <td><input type="button" value="Edit" (click)="edit(sts)"></td>
            <td><input type="button" value="Delete" (click)="delete(sts)"></td>
        </tr>
    </tbody>
</table>