<h1>Cadastro de CEP</h1>

<form #cepForm="ngForm">
    <div>
        <label for="cep">CEP:</label>
        <input type="number" id="cep" name="cep" [(ngModel)]="newStates.cep" required #cep="ngModel">
        <span *ngIf="cep.invalid && cep.dirty">
      Campo obrigatório
    </span>
    </div>

    <div>
        <label for="cidade">Cidade:</label>
        <input type="text" id="cidade" name="cidade" [(ngModel)]="newStates.cidade" required #cidade="ngModel">
        <span *ngIf="cidade.invalid && cidade.dirty">
        Campo obrigatório
      </span>
    </div>

    <div>
        <label for="estado">Estado:</label>
        <input type="text" id="estado" name="estado" [(ngModel)]="newStates.estado" required #estado="ngModel">
        <span *ngIf="estado.invalid && estado.dirty">
          Campo obrigatório
        </span>
    </div>
    <input type="button" value="Salvar" [disabled]="cepForm.invalid" (click)="saveCeps()">
</form>

<table>
    <thead>
        <tr>
            <th>CEP</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Editar</th>
            <th>Remover</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let sts of states">
            <td>{{ sts.cep | cep }}</td>
            <td>{{ sts.cidade }}</td>
            <td>{{ sts.estado | state: sts.estado }}</td>
            <td><input type="button" value="Edit" (click)="edit(sts)"></td>
            <td><input type="button" value="Delete" (click)="delete(sts)"></td>
        </tr>
        <tr id="emptyLine">
            <td colspan="5">Nenhum CEP cadastrado ainda!</td>
        </tr>
    </tbody>
</table>