<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>

<form #teacherForm="ngForm">
  <div>
      <label for ="name">Nome do Curso </label>
      <input type="text" id="name" name="name"
       required [(ngModel)]="name" #name="ngModel">
      <span *ngIf="name.invalid && name.dirty" class="error">
        Campo Obrigatório!
      </span>
  </div>
  
  <div>
      <label for ="disc">Disciplina </label>
      <input type="text" id="disc" name="disc" 
       required [(ngModel)]="disc" #emailC="ngModel">
       <span *ngIf="disc.invalid && disc.dirty" class="error">
          Campo Obrigatório!
      </span>
  </div>
  
  <div>
      <label for ="prof">Professor </label>
      <input type="text" id="prof" name="prof"
       required [(ngModel)]="prof" #prof="ngModel">
      <span *ngIf="prof.invalid && prof.dirty" class="error">
          Campo Obrigatório!
      </span>
  </div>

  <div>
    <label for ="year">Ano </label>
    <input type="number" id="year" name="year"
     required [(ngModel)]="year" #year="ngModel">
    <span *ngIf="year.invalid && year.dirty" class="error">
        Campo Obrigatório!
    </span>
</div>

<div>
  <label for ="sem">Semestre </label>
  <input type="text" id="sem" name="sem"
   required [(ngModel)]="sem" #semestre="ngModel">
  <span *ngIf="sem.invalid && sem.dirty" class="error">
      Campo Obrigatório!
  </span>
</div>
  
  <input type="button" value="Salvar" (click)="saveClass()"
  [disabled]="!teacherForm.valid">
  
  
  </form>
  
  <h1> Dados já cadastrados </h1>
  <table>
      <thead>
      <tr>
        <th>Curso </th>
        <th>Disciplina</th>
        <th>Professor</th>
        <th>Ano</th>
        <th>Semestre</th>
        <th>Editar</th>
        <th>Excluir</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tcr of teacher">  
        <td>{{tcr.name}}</td>
        <td>{{tcr.disc}}</td>
        <td>{{tcr.prof}}</td>
        <td>{{tcr.year}}</td>
        <td>{{tcr.sem}}</td>
        <td><input type="button" value="Editar" (click)="teacherEdit(tcr)"></td>
        <td><input type="button" value="Remover" (click)="teacherDelete(tcr)"></td>
      </tr>
    </tbody>
    </table>
  
  
  
  
  
  
  
  




